* {
	font-family: sans-serif;
}

header a {
	text-decoration: none;
}

header {
	background-color: #ff9ff3;
	height: 60px;
	text-transform: uppercase;
}

.logo {
	font-size: 40px;
	font-weight: 1000;
	color: black;
	float: left;
}


.menu {
	display: inline-block;
	padding: 15px;
	margin-left: 70px;
	line-height: 30px;
}

.menu a:hover {
	height: 100%;
	background: #f368e0 ;
	text-decoration: none;
	color: white;
}
.menu a{
	font-size: 20px;
	color: white;
	margin: 0;
	padding: 10px;
}
.table-timkiem {
	display: inline-block;
	float: right;
	padding-right: 10px;
}
.search-box {
	border: none;
	background: none;
	border-bottom: 2px solid #f368e0;
}

.submit {
	border: none;
	background-color: linear-gradient(#ff9f43,#ee5253);
}

.table h1{
	text-align: center;
}
footer {
	margin: 0px;
	text-align: center;
	background-color: #9E9E9E; 
}